.review-head h2 {
  color: #242d52;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.h-scroll {
  text-align: center;
  padding-left: 34px;
  padding-right: 34px;
}
.review {
  display: none;
  max-width: 330px;
  background-color: #fafafa;
  padding-bottom: 16px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}

.review.show {
  display: block;
}

.review-image {
  position: relative;
  top: -41px;
}

.review-image img {
  width: 82px;
  height: auto;
}

.review-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-title-button.left {
  width: 24px;
  height: 24px;
  position: relative;
  left: -28px;
  bottom: -28px;
}

.review-title-button.right {
  width: 24px;
  height: 24px;
  position: relative;
  right: -28px;
  bottom: -28px;
}

.review-content h3 {
  color: #242d52;
  margin-top: 0px;
}

.review-content p {
  color: #9095a7;
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
  padding: 0px 24px;
}

.slider-position {
  margin-top: 12px;
  text-align: center;
}

.slider-position span {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 3px 0px 3px;
  border: 1px solid #eb733c;
}

.active-span {
  background-color: #eb733c;
}

.review-cta {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 36px;
}

.review-cta button {
  border-radius: 20px;
  padding: 12px 18px;
  background-color: #eb733c;
  border: 1px;
  color: #fafafa;
  font-weight: 700;
}

.review-cta button:hover {
  background-color: #f0ab8c;
}

@media only screen and (min-width: 1025px) {
  .h-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-left: 0px;
    padding-right: 0px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  .review {
    display: block;
    flex-shrink: 0;
    margin: 65px 48px 0px 0px;
    max-width: 500px;
  }

  .review-title {
    display: block;
  }

  .review-title-button.left {
    display: none;
  }
  .review-title-button.right {
    display: none;
  }

  .slider-position {
    display: none;
  }

  .review-cta {
    margin-bottom: 120px;
  }
}
