.footer {
  display: flex;
  flex-direction: column-reverse;
  background-color: #242d52;
  padding: 24px 5%;
  color: #fafafa;
}

.brand {
  margin-top: 46px;
}

.brand-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.brand-content.logos {
  display: flex;
  flex-direction: row;
}

.brand-content img {
  margin: auto;
}
.brand-logo {
  margin: auto;
}

.brand-logo img {
  margin-top: 32px;
}

.brand-content.logos img {
  width: 26px;
  height: 26px;
}

.brand-content.logos img:hover {
  border-top: 4px dotted #eb733c;
}

.footer-links {
  margin-top: 46px;
}

.footer-links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #fafafa;
  margin-top: 2px;
  margin-bottom: 2px;
}

.footer-links a:hover {
  color: #eb733c;
}

.footer-links {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px;
}

.footer-links-nav {
  display: flex;
  flex-direction: column;
}

.footer-links-community {
  display: flex;
  flex-direction: column;
}

.newsletter {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.newsletter-input input {
  border-style: none;
  font-weight: 600;
  padding: 12px 18px;
  border-radius: 20px;
  margin-right: 12px;
}

.failed input {
  color: red;
  background-color: rgb(255, 233, 233);
}

.success input {
  color: green;
  background-color: rgb(233, 252, 233);
}

.newsletter-submit button {
  border-radius: 20px;
  padding: 12px 18px;
  background-color: #eb733c;
  border: 1px;
  color: #fafafa;
  font-weight: 700;
}

.newsletter-submit button:hover {
  background-color: #f0ab8c;
}

@media only screen and (min-width: 1025px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 10%;
  }

  .brand {
    margin-top: 0px;
    margin-right: 42px;
  }

  .brand-content {
    flex-direction: column;
    height: 100%;
  }

  .brand-logo img {
    margin: auto;
  }

  .brand-content.logos img {
    width: 16px;
    height: 16px;
  }

  .footer-links {
    margin-top: 0px;
  }
  .newsletter {
    margin: 0px 0px 0px 42px;
  }
}
