body {
  background-image: url(./images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}

.App {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

@media only screen and (min-width: 1025px) {
  body {
    background-image: url(./images/bg-simplify-desktop-top.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
  }

  .App {
    max-width: 1250px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
