body {
  background-image: url(./images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  margin: 0;
  font-family: "Be Vietnam", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Be Vietnam", sans-serif;
}

@media only screen and (min-width: 1025px) {
  body {
    background-image: url(./images/bg-simplify-desktop-top.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
  }
}
